
body {
  font-family: monospace;
  text-align: center;
  max-width: 1000px;
  background: black;
  color: white;
  font-size: 26px;
}
#header {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  align-items: center;
}
#ping {
  /* position: fixed;
  top: 45px; */
  border-radius: 5px;
  background: #00ff39;
  padding: 4px 10px;
}
#config-btn {
  padding: 15px 70px;
  margin: 25px 10px;
  font-size: 30px;
}

#login-panel {
  /* background: whitesmoke; */
  background: #2d2d2d;
  padding: 10px 0;
  border-radius: 4px;
}
#login-panel input { margin: 5px; }
#login-btn {
  width: 60%;
  margin: 15px 20%;
  padding: 4px 0;
}

#clear-1-btn, #clear-10-btn, #clear-all-btn {
  padding: 35px;
  font-size: 30px;
  width: 100%;
  margin-bottom: 15px;
}


#main-panel {
  background: #2d2d2d;
  padding: 10px 0;
}

#door-status {
  font-size: 65px;
  /* background: red; */
  /* background: #00c100; */
  padding: 120px 0;
  margin: 0 10px 15px;  
}
#info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  font-size: 12px;
}
#last-action, #last-action-ago {
  color: gray;
  font-size: 30px;
  font-weight: bold;
}
#last-action { margin-top: 100px; }
#last-action-ago { margin-bottom: 100px; color: #00adad; }

#activate-btn, #deactivate-btn {
  font-size: 35px;
  padding: 35px 25px;
  margin: 0px 10px 25px;
  min-width: 300px;
}
#logs-list {
  text-align: left;
  font-size: 11px;
}

#warning {
  font-size: 120px;
  font-weight: bold;
  /* color: #6d1414; */
  background: red;
  padding: 60px 0;
  animation: blinker 0.6s linear infinite;
}
@keyframes blinker { 50% { opacity: 0.25; }}

.sch-panel div span {
  width: 300px;
  display: inline-block;
  text-align: right; 
}
.sch-panel div input { 
  width: 140px;
  font-size: 50px;
  padding-left: 15px;
  height: 60px;
}
.checkbox-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sch-less30-ini-btn, #sch-plus30-ini-btn,
#sch-less30-end-btn, #sch-plus30-end-btn {
  padding: 15px 50px;
  font-size: 30px;
  display: inline-block;
  top: -7px;
  position: relative;
}

.checkbox-div label { cursor: pointer; }
#sch-checkbox {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#sch-save-btn {
  font-size: 50px;
  margin: 20px 0 50px;
  padding: 30px 160px;
}